{% extends "account/base.html" %}
{% block content %}
<head>
	<title>Social Recognition-HomePage</title>
</head>
<body>
	<h2>Social Recognition Awards</h2>

{% if user.is_authenticated %}
	<p>Welcome {{ user.username }} !!! You are logged in</p>
	<ul>
		<a href="{% url 'account_set_password' %}"><li>Set Password</li></a>
		<a href="{% url 'account_change_password' %}"><li>Change Password</li></a>
	</ul>
	<a href="{% url 'account_logout' %}">Logout</a></p>
{% else %}
	<p>Kindly <a href="{% url 'account_login' %}">Login</a> to avail our services</p>
{% endif %}
</body>
{% endblock %}
